<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HOME</title>
</head>
<body>
    <h1>HOME</h1>
    {{ctrl.message}}
    <a ng-click="ctrl.bark()">HomeSweetHome</a>
</body>
</html>