<!--<h1>this is a List page</h1>-->

<ul>
    <li ng-repeat="film in ctrl.films">
        <!--&lt;!&ndash;Use direct url&ndash;&gt;-->
        <!--<a href="#/detail/{{film.film_id}}">-->
            <!--&lt;!&ndash;{{film.film_id}} {{film.name}}&ndash;&gt;-->
            <!--{{film.film_id}} {{film.title}}-->
        <!--</a>-->

        <!--Use state name-->
        <a ui-sref="detail({filmId: film.film_id})">
            {{film.film_id}} {{film.title}}
        </a>

    </li>
</ul>